<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>assets</key>
				<array>
					<dict>
						<key>zwin</key>
						<string>software-package</string>
						<key>url</key>
						<string>https://zwin888.github.io/mobile/zwin.ipa</string>
					</dict>
					<dict>
	                    <key>zwin</key>
	                    <string>display-image</string>
	                    <key>url</key>
	                    <string>https://zwin888.github.io/mobile/images/logo.png</string>
	                </dict>
	                <dict>
	                    <key>zwin</key>
	                    <string>full-size-image</string>
	                    <key>url</key>
	                    <string>https://zwin888.github.io/mobile/images/logo.png</string>
	                </dict>
				</array>
				<key>metadata</key>
				<dict>
					<key>bundle-identifier</key>
	                <string>io.dcloud</string>
	                <key>bundle-version</key>
	                <string>1.0.0</string>
	                <key>zwin</key>
	                <string>software</string>
	                <key>title</key>
	                <string>众赢娱乐</string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>



